.info__grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  gap: 20px;
}

@media(min-width:818px) and (max-width:1137px){
  .info__grid{
    grid-auto-flow: dense;
  }
}

.info__block{
  background: #1a1a3c;
  overflow: hidden;
  padding: 35px 15px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  flex-direction: column;
  position: relative;
  border-radius: 7px;
  gap: 40px;
}

.info__block:hover{
  background: var(--card-hover);
}

.info-title{color: var(--text-second);transition: .3s;position: absolute;left: 0;top: 0;padding: 10px 5px 5px 15px;}

.info__map,
.info__graphics{
  grid-column: span 2;
}

@media(max-width:817px){
  .info__map,
.info__graphics{
  grid-column: span 1;
}
}

.info__design{}

.info__adaptive{}

.map__img,
.design__img,
.graphics__img,
.adaptive__img{
    position: relative;
}

.map__img{
  padding: 0px 0px 50% 90%;
}

.design__img{
  /*! padding: 0px 0px 80% 80%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.graphics__img{
  padding: 0px 0px 50% 90%;
}

@media(max-width:500px){
    .map__img{
  padding: 0px 0px 60% 100%;
}
  .graphics__img{
  padding: 0px 0px 60% 100%;
}
}

.adaptive__img{
  padding: 0px 0px 60% 80%;
}

.map__img svg,
.graphics__img svg,
.adaptive__img svg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

#html,#bootstrap,#jquery,#scss,#react,#css,#js,#svg,#php:hover{
  fill: #ffffff;
  cursor: pointer;
}

#Rectangle398,#Rectangle399,#Rectangle400,#Rectangle401,#Rectangle402,#Rectangle403,#Rectangle404,#Rectangle405,
#Rectangle406,#Rectangle409,#Rectangle410,#Rectangle411,#Rectangle412,#Rectangle413,#Rectangle414,#Rectangle415,
#Rectangle416,#Rectangle417,#html,#jquery,#scss,#react,#css,#js,#svg,#bootstrap,#php{
  transition: .3s;
}

#html:hover ~ #Rectangle398{
  fill: #00e7d9;
}

#html:hover ~ #Rectangle409{
  opacity: 0.2;
}

#html:hover ~ #Rectangle409{
  opacity: 0.2;
}

#jquery:hover ~ #Rectangle399{
  fill: #00e7d9;
}

#jquery:hover ~ #Rectangle410{
  opacity: 0.2;
}

#scss:hover ~ #Rectangle400{
  fill: #00e7d9;
}

#scss:hover ~ #Rectangle411{
  opacity: 0.2;
}

#react:hover ~ #Rectangle401{
  fill: #00e7d9;
}

#react:hover ~ #Rectangle412{
  opacity: 0.2;
}

#css:hover ~ #Rectangle402{
  fill: #00e7d9;
}

#css:hover ~ #Rectangle413{
  opacity: 0.2;
}

#js:hover ~ #Rectangle403{
  fill: #00e7d9;
}

#js:hover ~ #Rectangle414{
  opacity: 0.2;
}

#svg:hover ~ #Rectangle404{
  fill: #00e7d9;
}

#svg:hover ~ #Rectangle415{
  opacity: 0.2;
}

#bootstrap:hover ~ #Rectangle405{
  fill: #00e7d9;
}

#bootstrap:hover ~ #Rectangle416{
  opacity: 0.2;
}

#php:hover ~ #Rectangle406{
  fill: #00e7d9;
}

#php:hover ~ #Rectangle417{
  opacity: 0.2;
}

.design__flex{
  display: flex;
  align-items: center;
  background: #141432;
  padding: 15px;
  border-radius: 7px;
  gap: 15px;
  opacity: 0;
  animation: opac 1s forwards;
}

.design__flex:nth-child(2){
  animation-delay: 0.4s;
}
.design__flex:nth-child(3){
  animation-delay: 0.8s;
}
.design__flex:nth-child(4){
  animation-delay: 1.2s;
}
.design__flex:nth-child(5){
  animation-delay: 1.6s;
}

@keyframes opac {
	0% {opacity: 0}
	100% {opacity: 100}
}


.design__browser{padding: 0px 0px 10% 10%;position: relative;}

.design__browser img{width: 100%;height: 100%;object-fit: contain;position: absolute;top: 0;left: 0;}

.browser__title{color: var(--text-second);}

#Ellipse100,#Ellipse97,#Ellipse99{
  transition: .3s;
}

.adaptive__block{display: flex;gap: 10px;}

.adaptive__block-subtitle{}

.adaptive__square{
  color: var(--text-second);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  transition: .3s;
}

.adaptive__square:hover{
  color: var(--text-main);
}

.adaptive__square:before{
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 1px;
  margin: 0px 5px 0px 0px;
}

.desctop:before{
  background: #eb5757;
}
.mobile:before{
    background: #2d74ff;
}
.tab:before{
    background: #00cabe;
}