.info__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media(min-width:818px) and (max-width:1137px) {
  .info__grid {
    grid-auto-flow: dense;
  }
}

.info__block {
  background: #1a1a3c;
  overflow: hidden;
  padding: 35px 15px 15px 15px;
  transition: .3s;
  position: relative;
  border-radius: 7px;
}

.info__graphics,
.info__design,
.info__adaptive{
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
    gap: 40px;
}

.info__block:not(:first-child):hover {
  background: var(--card-hover);
}

.info-title {
  color: var(--text-main);
  transition: .3s;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 5px 5px 15px;
}

.info__services,
.info__graphics {
  grid-column: span 2;
}

.info__services{
  background: none;
  padding: 0;
}

@media(max-width:817px) {
  .info__services,
  .info__graphics {
    grid-column: span 1;
  }
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  height: 100%;
}

.services__block {
  display: flex;
  background: var(--card-back);
  padding: 15px;
  border-radius: 7px;
  gap: 10px;
  justify-content: space-between;
  transition: .3s;
}

.services__big{
  grid-column: span 2;
  background: #1a1a3c;
  padding-top: 15px;
  border-radius: 7px;
  transition: .3s;
}

.services__block:hover, .services__big:hover{
  background: var(--card-hover);
}

@media(max-width:817px) {
  .services__big{
    grid-column: span 1;
  }
}

.services__title{
  color: var(--text-main);
  padding-left: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.services__text{}

.services__text h2{padding-bottom: 10px;font-size: 20px;color: var(--text-main);}

.services__text p{padding-top: 10px;font-size: 16px;color: var(--text-second);}

.services__img{
  position: relative;
  padding: 0px 0px 35% 35%;
}

.services__img svg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: contain;}

.services__big-grid {display: grid;grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));gap: 15px;}

.services__big-block{
  display: flex;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;
  align-items: center;
}

.services__big-text{}

.services__big-text p{color: var(--text-second);font-size: 16px;line-height: 20px;}

.info__design {}

.info__adaptive {}

.design__img,
.graphics__img,
.adaptive__img {
  position: relative;
}

.design__img {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.graphics__img {
  padding: 0px 0px 50% 90%;
}

@media(max-width:500px) {
  .graphics__img {
    padding: 0px 0px 60% 100%;
  }
}

.adaptive__img {
  padding: 0px 0px 60% 80%;
}

.graphics__img svg,
.adaptive__img svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

#html,
#bootstrap,
#jquery,
#scss,
#react,
#css,
#js,
#svg,
#php:hover {
  fill: #ffffff;
  cursor: pointer;
}

#Rectangle398,
#Rectangle399,
#Rectangle400,
#Rectangle401,
#Rectangle402,
#Rectangle403,
#Rectangle404,
#Rectangle405,
#Rectangle406,
#Rectangle409,
#Rectangle410,
#Rectangle411,
#Rectangle412,
#Rectangle413,
#Rectangle414,
#Rectangle415,
#Rectangle416,
#Rectangle417,
#html,
#jquery,
#scss,
#react,
#css,
#js,
#svg,
#bootstrap,
#php {
  transition: .3s;
}

#html:hover~#Rectangle398 {
  fill: #00e7d9;
}

#html:hover~#Rectangle409 {
  opacity: 0.2;
}

#html:hover~#Rectangle409 {
  opacity: 0.2;
}

#jquery:hover~#Rectangle399 {
  fill: #00e7d9;
}

#jquery:hover~#Rectangle410 {
  opacity: 0.2;
}

#scss:hover~#Rectangle400 {
  fill: #00e7d9;
}

#scss:hover~#Rectangle411 {
  opacity: 0.2;
}

#react:hover~#Rectangle401 {
  fill: #00e7d9;
}

#react:hover~#Rectangle412 {
  opacity: 0.2;
}

#css:hover~#Rectangle402 {
  fill: #00e7d9;
}

#css:hover~#Rectangle413 {
  opacity: 0.2;
}

#js:hover~#Rectangle403 {
  fill: #00e7d9;
}

#js:hover~#Rectangle414 {
  opacity: 0.2;
}

#svg:hover~#Rectangle404 {
  fill: #00e7d9;
}

#svg:hover~#Rectangle415 {
  opacity: 0.2;
}

#bootstrap:hover~#Rectangle405 {
  fill: #00e7d9;
}

#bootstrap:hover~#Rectangle416 {
  opacity: 0.2;
}

#php:hover~#Rectangle406 {
  fill: #00e7d9;
}

#php:hover~#Rectangle417 {
  opacity: 0.2;
}

.design__flex {
  display: flex;
  align-items: center;
  background: #141432;
  padding: 15px;
  border-radius: 7px;
  gap: 15px;
  opacity: 0;
  animation: opac 1s forwards;
}

.design__flex:nth-child(2) {
  animation-delay: 0.4s;
}

.design__flex:nth-child(3) {
  animation-delay: 0.8s;
}

.design__flex:nth-child(4) {
  animation-delay: 1.2s;
}

.design__flex:nth-child(5) {
  animation-delay: 1.6s;
}

@keyframes opac {
  0% {
    opacity: 0
  }

  100% {
    opacity: 100
  }
}


.design__browser {
  padding: 0px 0px 10% 10%;
  position: relative;
}

.design__browser img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.browser__title {
  color: var(--text-second);
}

#Ellipse100,
#Ellipse97,
#Ellipse99 {
  transition: .3s;
}

.adaptive__block {
  display: flex;
  gap: 10px;
}

.adaptive__block-subtitle {}

.adaptive__square {
  color: var(--text-second);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
  transition: .3s;
}

.adaptive__square:hover {
  color: var(--text-main);
}

.adaptive__square:before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 1px;
  margin: 0px 5px 0px 0px;
}

.desctop:before {
  background: #eb5757;
}

.mobile:before {
  background: #2d74ff;
}

.tab:before {
  background: #00cabe;
}