:root {
	--card-back: #1A1A3C;
	--main-back: #141432;
	--card-hover: #1D1D42;

	--text-main: #e8eaed;
	--text-second: #b8b8c3;

	--green: #14c25a;
	--violet: #7047ee;
	--blue: #2d74ff;
	--red: #e73152;
	--lblue: #00cabe;

	--font-default: 'Vollkorn', serif;
	--font-bold: 600;
	--font-regular: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	background: var(--main-back);
}

.container {
	padding: 0 15px 0 15px;
}

.grid__areas {
	display: grid;
	grid-template-areas: "sidebar main";
	flex: 1 1 auto;
	grid-template-columns: minmax(40px, auto) minmax(auto, 1fr);
}

@media(max-width:500px) {
	.grid__areas {
		display: block;
		padding: 0px 0px 75px 0px;
	}

	.sidebar {
		display: none;
	}
}

/*-----Header-----*/
.header {
	background: #1A1A3C;
	padding: 10px 20px;
}

.header__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.header__logo {
	width: 60px;
	height: 25px;
	opacity: .8;
}

.header__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.header__society {
	display: flex;
	align-items: center;
}

.header__society:before {
	content: " ";
	background-image: url(../img/icon/code_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
	transition: .3s;
	display: none;
}

@media(min-width: 500px) {
	.header__society:hover:before {
		transform: scale(-1, 1);
		animation-iteration-count: infinite;
	}
}

.header__profile {
	display: flex;
	align-items: center;
	gap: 5px;
}

.header__profile-photo {
	width: 40px;
	height: 40px;
}

.header__profile-photo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.profile__name {
	color: var(--text-main);
	padding: 0px 15px 0px 5px;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: .1px solid #2a2a55;
	padding-top: 10px;
}

.header__nav {
	color: var(--text-main);
	display: flex;
	padding: 5px 0px;
}

.nav__page,
.nav__index {
	cursor: pointer;
	transition: .3s;
	display: flex;
	align-items: center;
}

.nav__index {
	color: var(--text-second);
}

.nav__main {
	color: var(--text-main);
}

.nav__index:hover {
	color: var(--text-main);
}

.nav__page {
	padding: 0px 5px 0px 5px;
}

.nav__page:before {
	content: " ";
	display: block;
	background-image: url(../img/icon/marker.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 13px;
	height: 10px;
	transform: rotate(270deg);
	margin: 0px 5px 0px 0px;
}

/*-------------------------------mobile @media-------------------------------*/

@media(max-width:500px) {
	.header {
		display: flex;
		justify-content: space-between;
	}
	
	.header__society{
		display: none;
	}

	.header__title,
	.header__nav {
		display: none;
	}

	.header__flex {
		padding-bottom: 0px;
	}

	.header__bottom {
		border-top: none;
		padding-top: 0px;
	}
}

/*-------------------------------mobile @media-------------------------------*/


/*-----Header-----*/

/*-------------------------------popup-------------------------------*/
.popup__main {}

.popup__btn {
	color: var(--text-main);
	cursor: pointer;
	transition: 0.3s;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background: rgba(45, 116, 255, 0.9);
	text-align: center;
	font-family: Roboto;
	font-weight: 700;
	padding: 10px 20px;
}

@media(min-width: 500px) {
	.popup__btn:hover {
		background: rgba(45, 116, 255, 1);
		color: var(--text-main);
	}
}

.popup {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
	background: rgba(0, 0, 0, 0.9);
}

.popup__card {
	position: relative;
	min-width: 350px;
	min-height: 200px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: #1A1A3C;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

@media(max-width:500px) {
	.popup__card {
		width: 85%;
		min-width: 280px;
	}
}

.popup__card-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	transform: rotate(45deg);
}

.popup__card-close:after {
	content: '\02795';
	font-size: 9px;
	margin-left: auto;
	cursor: pointer;
	transition-duration: 500ms;
}

.popup__card-close:hover:after {
	transform: rotate(180deg);
}

.popup__content {}

.popup__text {
	color: #fff;
	max-width: 350px;
}

/*-------------------------------popup-------------------------------*/

/*-------------------------------FORM popup-------------------------------*/

.form__popup {
	margin-top: 40px;
	background: #1a1a3c;
	padding: 10px;
	margin-bottom: 40px;
}

@media(max-width:400px) {
	.form__popup {
		padding: 0px;
	}
}

.popup__grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 1fr));
	gap: 15px;
	padding: 20px 0;
	justify-content: center;
}

.popup__input {
	background: #141432;
	color: var(--text-second);
	font-family: var(--font-default);
	padding: 15px;
	border-radius: 6px;
}

.popup__login {}

.popup__email {}

.popup__subject {
	grid-column: span 2;
}

.popup__message {
	grid-column: span 2;
	grid-row: span 2;
	resize: none;
}

.popup__submit {
	cursor: pointer;
	grid-column: span 2;
}

/*-------------------------------popup-------------------------------*/


/*-----Main------*/

/*-------------------------------phone__menu-------------------------------*/
.phone__main {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: var(--main-back);
	display: none;
}

@media(max-width:500px) {
	.phone__main {
		display: block;
	}
}

.phone__menu {}

.phone__list {
	display: flex;
	justify-content: space-between;
}

.phone__block {
	width: 25%;
	padding: 10px 10px 15px 10px;
	display: flex;
	justify-content: center;
}

.phone__block a {
	display: inline-block;
	padding: 10px;
	border-radius: 8px;
	opacity: .8;
}

.icon__page a {
	background: #2b6bec;
	opacity: 1;
}

.phone__block:active {
	opacity: .8;
}

.phone__icon {
	width: 25px;
	height: 25px;
	margin: 0 auto;
}

.phone__icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.phone__menu-a {
	color: var(--text-main);
	text-align: center;
	padding-top: 5px;
}

/*-------------------------------phone__menu-------------------------------*/

.sidebar {
	grid-area: sidebar;
	background: #1A1A3C;
	border-right: .1px solid #2a2a55;
	padding: 10px 0;
}

.sidebar__menu {
	display: flex;
	justify-content: center;
	margin-top: 13px;
}

.sidebar__menu-top {
	display: inline-flex;
	position: relative;
}

.sidebar__menu-title {
	color: #fff;
	font-size: 21px;
	padding: 0 25px 0px 15px;
	display: table;
}

.accordion__btn {
	width: 35px;
	height: 25px;
	position: relative;
	transform: rotate(0deg);
	transition: .3s ease-in-out;
	cursor: pointer;
	margin: 0px 10px;
}

.accordion__btn span {
	display: block;
	position: absolute;
	left: 0;
	height: 3px;
	width: 100%;
	background: #ff0099;
	opacity: 1;
	border-radius: 9px;
	transform: rotate(0deg);
	transition: .3s ease-in-out;
}

.accordion__btn span:nth-child(1) {
	top: 0px;
	left: 0px
}

.accordion__btn span:nth-child(2) {
	top: 9px;
	left: 0px;
}

.accordion__btn span:nth-child(3) {
	top: 18px;
	width: 70%;
	left: 0px;
}

.active span:nth-child(1) {
	top: 8px;
	transform: rotate(135deg);
}

.active span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.active span:nth-child(3) {
	top: 8px;
	transform: rotate(-135deg);
	width: 100%;
}


.accordion__menu {
	max-width: 0;
	overflow: hidden;
	transition: max-width .1s ease-out;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sidebar__list {
	padding: 0 0px 0px 15px;
	margin-top: 20px;
}

.sidebar__menu-ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar__menu-li {
	color: var(--text-second);
	display: flex;
	transition: .3s;
	white-space: nowrap;
}

.sidebar__menu-li:hover {
	color: var(--text-main);
}

.sidebar__menu-a {
	padding: 7px 0;
	display: flex;
	align-items: center;
	font-family: "Times New Roman";
}

.sidebar__menu-a:before {
	content: " ";
	background-repeat: no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	opacity: .8;
	transition: .3s;
}

.icon__dashboard:before {
	background-image: url(../img/icon/home.svg);
}

.icon__info:before {
	background-image: url(../img/icon/graphic.svg);
}

.icon__portfolio:before {
	background-image: url(../img/icon/pc.svg);
}

.icon__about:before {
	background-image: url(../img/icon/user.svg);
}

.icon__order:before {
	background-image: url(../img/icon/order.svg);
	height: 11px;
}

.sidebar__menu-a:hover:before {
	opacity: 1;
}

/*-----Main------*/
.main {
	grid-area: main;
	position: relative;
}

/*-----Main__Content------*/
.content {
	padding: 15px;
}

@media(max-width:500px) {
	.content {
		padding: 15px 15px 0px 15px;
	}
}

.content__title {
	color: var(--text-main);
	padding: 15px 5px;
}

/*-----Footer-----*/
.footer {
	flex: 0 0 auto;
}

.footer__main {}